.container{
    width: 100%;
}
.message{
    color:#c7050b;    
    text-align: center;
}
.score{
    float: right;
    padding: 15px;
    color:#c7050b;
}
.topScore{
    float: right;
    padding: 15px;
    color:#c7050b;
}
.title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
}
.img{
    margin-top: 10px;
}