.container{
    width: 100%;
}
.message{
    color:#c7050b;    
    text-align: center;
}
.score{
    float: right;
    padding: 25px;
    color:#c7050b;
}
.topScore{
    float: right;
    padding: 25px;
    color:#c7050b;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color:#c7050b;
    margin-bottom: 50px;
  }
  